<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <i class="pi pi-shopping-cart" style="font-size: 2rem; cursor: pointer;" (click)="toggleCart()"></i>
        <p-badge [value]="getCartQuantity()" class="cart-badge"></p-badge>
    </div>
</p-toolbar>

<p-splitter [panelSizes]="[20, 80]" [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>

<p-dialog [(visible)]="cartVisible" header="Panier" [style]="{ width: '50vw' }">
    <ng-container *ngIf="cartService.getCartItems().length > 0; else emptyCart">
        <div *ngFor="let cartItem of cartService.getCartItems()">
            <p-card class="mb-3">
                <div class="text-lg font-medium">{{ cartItem.name }}</div>
                <div class="text-sm">Price: {{ cartItem.price | currency }}</div>
                <div class="text-sm">Quantity in Cart: {{ cartItem.quantity }}</div>
                <p-button label="Supprimer du panier" severity="danger"
                    (click)="removeFromCart(cartItem.id)"></p-button>
            </p-card>
        </div>
    </ng-container>

    <ng-template #emptyCart>
        <div class="text-center">
            <p>Aucun article dans votre panier.</p>
        </div>
    </ng-template>
</p-dialog>